<div class="container">
                <div class="imp_card mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Welcome</h2>
                    </div>
                    <div align="center">
                        <br />
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--8-col">Upload your existing member data. (CSV or Excel format)</div>
                            <div class="mdl-cell mdl-cell--4-col">
                                <%#<form action="" method="POST">
                                    <input type="file" id="file">
                                    <label for="file" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                        Upload
                                    </label>
                                </form>%>
                                <!-- import_organisation_membershipdata_path(current_organisation.id) -->
                                <%= form_tag , multipart: true do%>
                                <%= file_field_tag :file %>
                                <%= submit_tag "Import" , :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="container" align="center"><!-- Feed from database -->
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">First Name</th>
                            <th>Last Name</th>
                            <th>Organization</th>
                            <th>Phone Number</th>
                            <th>E-Mail</th>
                            <th>Work Place</th>
                            <th>Year Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Chris</td>
                            <td>Bimpong</td>
                            <td>MEST</td>
                            <td>123456789</td>
                            <td>Chris@NectHub.com</td>
                            <td>NectHub</td>
                            <td>2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>
